{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="align">
    <form method="post">
            <div class="container mt-1 center-align">
                <div class="row">
                <h1>{% trans %} To log in {% endtrans %}</h1>
                    <div class="input-field col s6 offset-s3">
                        <i class="material-icons prefix"></i>
                        <input type="email" value="{{ last_username }}" id="email-input" name="email">
                        <label for="email-input">Email</label>
                    </div>
                    <div class="input-field col s6 offset-s3">
                        <i class="material-icons prefix"></i>
                        <input type="password" id="password-input" class="password" name="password">
                        <label for="password">{% trans %} Password {% endtrans %}</label>
                    </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <input type="hidden" name="_target_path"value="{{ app.request.headers.get('referer') }}" />
                
                <button type="submit" class="btn btn-large col s3 offset-s5" id="submit">Connection</button>
                <div id="forgotPasswordContainer" class="col s3 offset-s5">
                    <a id="forgetPasswordLink" href="{{ path("RenewPassword") }}">{% trans %} Forgot your password {% endtrans %} ?</a>
                </div>
                </div>
            </div>
    </form>
</div>
{% endblock %}
