parameters:
    level: 10
    paths:
        - src
        - tests
    excludePaths:
        - var
        - vendor
        - src/Migrations
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml