<div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img src="/images/maldives.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="/images/pier.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="/images/snow-.jpg"></a>
</div>