{% extends 'base.html.twig' %}

{% block title %}reservation{% endblock %}

{% block content %}
<div class="container">
    <h1 class="center-align">Configurer votre voyage</h1>
    <i class="large material-icons">check_box</i>

</div>

{% endblock %}