body {
    background-color: #fff;
}

.logo {
margin: 10px;
max-width: 50px;
max-height: 50px;
}

hr.pink {
  width : 70%;
  border: 2px solid pink !important;
  border-radius: 5px;
}

.marg{
    margin: 1em;
}
.mt-1{
    margin-top: 1em;
}

.margin-top{
    margin-top: 2em;
}

.margin-left{
    margin-left: 2em;
}

.margin-right{
    margin-right: 2em;
}

.margin-bottom{
    margin-bottom: 2em;
}
.register{
    
    .btn{
        text-align: center;
    }
}
.login{
    text-align: center;
    .btn{
        padding-left: 28px;
    }
}
.forgot{
    h1{
        text-align: center;
    }
}
.profil{
    text-align: center;
}
