body {
    background-color: #fff;
}

.logo {
margin: 10px;
max-width: 50px;
max-height: 50px;
}

.marg{
    margin: 1em;
}
.mt-1{
    margin-top: 1em;
}

.margin-top{
    margin-top: 2em;
}

.margin-left{
    margin-left: 2em;
}

.margin-right{
    margin-right: 2em;
}

.margin-bottom{
    margin-bottom: 2em;
}
