body {
    background-color: #fff;
}

.logo {
margin: 10px;
max-width: 50px;
max-height: 50px;
}

hr.pink {
  width : 70%;
  border: 2px solid pink !important;
  border-radius: 5px;
}

.marg{
    margin: 1em;
}
.mt-1{
    margin-top: 1em;
}

.margin-top{
    margin-top: 2em;
}

.margin-left{
    margin-left: 2em;
}

.margin-right{
    margin-right: 2em;
}

.margin-bottom{
    margin-bottom: 2em;
}
.register{
    
    .btn{
        text-align: center;
    }
}
.login{
    text-align: center;
    .btn{
        padding-left: 28px;
    }
}
.forgot{
    h1{
        text-align: center;
    }
}
.profil{
    text-align: center;
}

.col {
  padding: 2em !important;
  box-sizing:border-box;
}

.picturelist{
    max-width: 23em;
    max-height: 12em; 
    object-fit: contain; 
}

.divheight{
    height: 220px;
}

// --- card

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

  


