{% extends 'base.html.twig' %}

{% block title %}error 404 {% endblock %}
{% block content %}
    <div class="container">
        <h1 class="center-align">Page not found</h1>

        <p>
            The requested page couldn't be located. Checkout for any URL
            misspelling or <a href="{{ path('home') }}">return to the homepage</a>.
        </p>
    </div>
{% endblock %}
