{% extends 'base.html.twig' %}

{% block title %}error 403 {% endblock %}
{% block content %}
    <div class="container">
        <h1 class="center-align">Forbiden</h1>
        <p>
            You don't have permission to access on this server.
        </p>
    </div>
{% endblock %}
