{% extends 'base.html.twig' %}



{% block title %}Mot de passe oublié {% endblock %}

{% block content %}
    <form method="post">
        <div class="forgot">
            <div class="container">
                <h1 class="mt-1"> {% trans %} Password reset {% endtrans %} </h1>
                <div class="col">
                    <div class="input-field col ">
                        <!-- E-mail -->
                        <input type="email" id="email-input" class="autocomplete " placeholder="E-mail" name="email">
                        ​ <label for="email-input">{% trans %} Enter your email address to reset your password {% endtrans %}</label>
                    </div>
                    <!--  button -->
                    <button class="btn btn-info my-4 btn-block" type="submit">{% trans %} Password reset {% endtrans %}</button>
                </div>
            </div>
        </div>
    </form>

{% endblock %}

