{% extends 'base.html.twig' %}

{% block title %} {% trans %} Password reset {% endtrans %} {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div>
                <h3 class="center-align mt-1"> {% trans %} To be able to change your password. Please fill in the following fields {% endtrans %} </h3>

                {{ form_start(form) }}
                {{ form_row(form) }}

                <button type="submit" class="btn btn-block btn-outline-light"> {% trans %} Save Changes {% endtrans %} </button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
